In [11]:
from datasets import load_dataset
import pandas as pd

We will explore the AG News data a bit and see the data distribution.

In [3]:
dataset = load_dataset('ag_news')

Downloading readme: 100%|██████████| 8.07k/8.07k [00:00<00:00, 11.4MB/s]
Downloading data: 100%|██████████| 18.6M/18.6M [00:01<00:00, 10.5MB/s]
Downloading data: 100%|██████████| 1.23M/1.23M [00:02<00:00, 482kB/s]
Generating train split: 100%|██████████| 120000/120000 [00:00<00:00, 1453227.08 examples/s]
Generating test split: 100%|██████████| 7600/7600 [00:00<00:00, 1647204.96 examples/s]

In [10]:
# find the test and train split lengths
print(f'Train {len(dataset['train'])} Test: {len(dataset['test'])}')

Train 120000 Test: 7600

In [13]:
# Let's convert them to dataframes
df_train = pd.DataFrame(dataset['train'])
df_test = pd.DataFrame(dataset['test'])

In [17]:
df_train.head(10)

                                                text  label
0  Wall St. Bears Claw Back Into the Black (Reute...      2
1  Carlyle Looks Toward Commercial Aerospace (Reu...      2
2  Oil and Economy Cloud Stocks' Outlook (Reuters...      2
3  Iraq Halts Oil Exports from Main Southern Pipe...      2
4  Oil prices soar to all-time record, posing new...      2
5  Stocks End Up, But Near Year Lows (Reuters) Re...      2
6  Money Funds Fell in Latest Week (AP) AP - Asse...      2
7  Fed minutes show dissent over inflation (USATO...      2
8  Safety Net (Forbes.com) Forbes.com - After ear...      2
9  Wall St. Bears Claw Back Into the Black  NEW Y...      2

In [15]:
# Let's find the value counts of the categories
df_train['label'].value_counts()

label
2    30000
3    30000
1    30000
0    30000
Name: count, dtype: int64

In [16]:
df_test['label'].value_counts()

label
2    1900
3    1900
1    1900
0    1900
Name: count, dtype: int64

This seems to be a well distributed dataset.